body{
    background-color: aqua;
}
body * {
    box-sizing: border-box;
}
.header{
    background-color: aquamarine;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}
